.idea
.DS_Store

# Hugo output folder
/public/*
!/public/.gitkeep

# Hugo asset cache
/resources/_gen/

# Optional: lokale Server/Cache-Dateien
.hugo_build.lock
hugo_stats.json

# Lokale Assets (werden extern verwaltet)
static/css/
static/fonts/
